#####################################################################
# V2R_SDK_ROOT
# Путь до папки, где установлен Virt2real SDK
#####################################################################
set(V2R_SDK_ROOT path/to/virt2real-sdk)

#####################################################################
# V2R_HOSTANME
#
# Сетевое имя виртурилки
# Используется для копирования бинарников прямо 
# на устройство через SCP (на виртурилке должен быть запущен SSH)
# Закомментарьте эту строку, если не хотите копировать 
# бинарники на виртурилку автоматически
#####################################################################
set(V2R_HOSTANME v2r)

#####################################################################
# V2R_DEMO_PATH
# Путь на виртурилке, куда будут скопированы файлы после построения
# каталог не создаётся автоматически, его нужно создать ручками один раз
#####################################################################

# set(V2R_DEMO_PATH  v2r-demo)
